.botao {
    background-color: #5053da;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 16px 0;
}

.botao:hover {
    color: #3e0635;
}